<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Organisation Register</title>
    </head>
    <body>
        <h1>Add Organisation</h1>
        <form method="post" action="/organisation-register">
            <label for="name">Name of the Organisation:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="email">Email of the Organisation:</label>
            <input type="text" id="email" name="email">
            <br>
            <input type="Submit" value="Confirm">
        </form>
    </body>
</html>