
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Event</title>
    <style>
      #org-dropdown {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome </h1>

    <select id="org-dropdown">
      <option value="" selected disabled>- Select the organizations -</option>
      <% organizations.forEach(org => { %>
        <option value="<%= org.name %>"><%= org.name %></option>
      <% }) %>
    </select>
    

    <script>
      const dropdown = document.getElementById('org-dropdown');
      dropdown.addEventListener('change', (event) => {
        const orgName = event.target.value;
        window.location.href = `/${orgName}`;
      });
    </script>

    <a href="./addOrganisation">Add a Organisation</a>
    <br>
    <a href="./profile">Profile</a>
    <br>
  </body>
</html>
